<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Chirper!</title>
        <link rel="stylesheet" type = "text/css" href="/CSS/style.css">
        <link rel="icon" href="/Images/bird.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/JS/signup.js" type="text/javascript"></script>
    </head>

    <body background="/Images/background.jpg" style="background-size: cover; height: 100%; background-repeat: no-repeat;">
        {{{body}}}
    </body>
</html>