<div class="container">
    <p id="settings-securityID" hidden>{{details._id}}</p>
    <div class="row align-items-start">

        <div class="col-xxl-3 col-xl-3 col-lg-3 d-none d-sm-block">
            <div id="side-panel">
                <h4>Settings</h4>
                <hr>
                <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                    <a type="button" class="btn settings-button-style button-selected" href="/settings/account">Account</a>
                    <a type="button" class="btn settings-button-style" href="/settings/security">Security</a>
                    
                </div>
            </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-9">
            <div id = "main-panel" class = "overflow-auto">

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Change Email
                                </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="mb-3 row">
                                    <label for="inputNewEmail" class="col-sm-2 col-form-label">New Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputNewEmail">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputConfirmEmail" class="col-sm-2 col-form-label">Confirm Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputConfirmEmail">
                                    </div>
                                </div>
                                <p id="isSameEmail"></p>
                                <p id="editChangeEmail-success"></p>
                                <input type="button" name="changeEmail_save" id="changeEmail_save" class="btn btn-outline-info" style="color: rgb(96, 230, 230);" value="Save Changes">

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Change Password
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="mb-3 row">
                                    <label for="inputOldPassword" class="col-sm-2 col-form-label">Old Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputOldPassword">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputNewPassword" class="col-sm-2 col-form-label">New Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputNewPassword" aria-describedby="passwordHelpBlock">
                                        <div id="passwordHelpBlock" class="form-text">
                                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                        </div>
                                    </div>
                                </div>
                                <p id="checkifSamePassword"></p>
                                <p id="checkNewPasswordLength"></p>
                                <p id="updatePasswordSuccess"></p>
                                <button id="changePassword-save"type="button" class="btn btn-outline-info" style="color: rgb(96, 230, 230);">Save Changes</button>
                            </div>
                        </div>
                    </div> 

                </div>

            </div>
        </div>

    </div>
</div>